In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/pygmy/Projects/Veni/Bisnis_Pintar/HousingData.csv')

In [3]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [20]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [4]:
np.random.seed(0)

In [5]:
missing_values_count = df.isnull().sum()

In [6]:
missing_values_count

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [19]:
#this is actually removing a column with at least 1 null in it
columns_with_na_dropped = df.dropna(axis=0) #axis 1 itu kolom, axis 0 adalah baris
columns_with_na_dropped.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [10]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % df.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 14

Columns with na's dropped: 8

In [11]:
columns_with_na_dropped

       NOX     RM     DIS  RAD  TAX  PTRATIO       B  MEDV
0    0.538  6.575  4.0900    1  296     15.3  396.90  24.0
1    0.469  6.421  4.9671    2  242     17.8  396.90  21.6
2    0.469  7.185  4.9671    2  242     17.8  392.83  34.7
3    0.458  6.998  6.0622    3  222     18.7  394.63  33.4
4    0.458  7.147  6.0622    3  222     18.7  396.90  36.2
5    0.458  6.430  6.0622    3  222     18.7  394.12  28.7
6    0.524  6.012  5.5605    5  311     15.2  395.60  22.9
7    0.524  6.172  5.9505    5  311     15.2  396.90  27.1
8    0.524  5.631  6.0821    5  311     15.2  386.63  16.5
9    0.524  6.004  6.5921    5  311     15.2  386.71  18.9
10   0.524  6.377  6.3467    5  311     15.2  392.52  15.0
11   0.524  6.009  6.2267    5  311     15.2  396.90  18.9
12   0.524  5.889  5.4509    5  311     15.2  390.50  21.7
13   0.538  5.949  4.7075    4  307     21.0  396.90  20.4
14   0.538  6.096  4.4619    4  307     21.0  380.02  18.2
15   0.538  5.834  4.4986    4  307     21.0  395.62  19.9
16   0.538  5.935  4.4986    4  307     21.0  386.85  23.1
17   0.538  5.990  4.2579    4  307     21.0  386.75  17.5
18   0.538  5.456  3.7965    4  307     21.0  288.99  20.2
19   0.538  5.727  3.7965    4  307     21.0  390.95  18.2
20   0.538  5.570  3.7979    4  307     21.0  376.57  13.6
21   0.538  5.965  4.0123    4  307     21.0  392.53  19.6
22   0.538  6.142  3.9769    4  307     21.0  396.90  15.2
23   0.538  5.813  4.0952    4  307     21.0  394.54  14.5
24   0.538  5.924  4.3996    4  307     21.0  394.33  15.6
25   0.538  5.599  4.4546    4  307     21.0  303.42  13.9
26   0.538  5.813  4.6820    4  307     21.0  376.88  16.6
27   0.538  6.047  4.4534    4  307     21.0  306.38  14.8
28   0.538  6.495  4.4547    4  307     21.0  387.94  18.4
29   0.538  6.674  4.2390    4  307     21.0  380.23  21.0
..     ...    ...     ...  ...  ...      ...     ...   ...
476  0.614  6.484  2.3053   24  666     20.2  396.21  16.7
477  0.614  5.304  2.1007   24  666     20.2  349.48  12.0
478  0.614  6.185  2.1705   24  666     20.2  379.70  14.6
479  0.614  6.229  1.9512   24  666     20.2  383.32  21.4
480  0.532  6.242  3.4242   24  666     20.2  396.90  23.0
481  0.532  6.750  3.3317   24  666     20.2  393.07  23.7
482  0.532  7.061  3.4106   24  666     20.2  395.28  25.0
483  0.532  5.762  4.0983   24  666     20.2  392.92  21.8
484  0.583  5.871  3.7240   24  666     20.2  370.73  20.6
485  0.583  6.312  3.9917   24  666     20.2  388.62  21.2
486  0.583  6.114  3.5459   24  666     20.2  392.68  19.1
487  0.583  5.905  3.1523   24  666     20.2  388.22  20.6
488  0.609  5.454  1.8209    4  711     20.1  395.09  15.2
489  0.609  5.414  1.7554    4  711     20.1  344.05   7.0
490  0.609  5.093  1.8226    4  711     20.1  318.43   8.1
491  0.609  5.983  1.8681    4  711     20.1  390.11  13.6
492  0.609  5.983  2.1099    4  711     20.1  396.90  20.1
493  0.585  5.707  2.3817    6  391     19.2  396.90  21.8
494  0.585  5.926  2.3817    6  391     19.2  396.90  24.5
495  0.585  5.670  2.7986    6  391     19.2  393.29  23.1
496  0.585  5.390  2.7986    6  391     19.2  396.90  19.7
497  0.585  5.794  2.8927    6  391     19.2  396.90  18.3
498  0.585  6.019  2.4091    6  391     19.2  396.90  21.2
499  0.585  5.569  2.3999    6  391     19.2  395.77  17.5
500  0.585  6.027  2.4982    6  391     19.2  396.90  16.8
501  0.573  6.593  2.4786    1  273     21.0  391.99  22.4
502  0.573  6.120  2.2875    1  273     21.0  396.90  20.6
503  0.573  6.976  2.1675    1  273     21.0  396.90  23.9
504  0.573  6.794  2.3889    1  273     21.0  393.45  22.0
505  0.573  6.030  2.5050    1  273     21.0  396.90  11.9

[506 rows x 8 columns]

In [13]:
df.mean()

CRIM         3.611874
ZN          11.211934
INDUS       11.083992
CHAS         0.069959
NOX          0.554695
RM           6.284634
AGE         68.518519
DIS          3.795043
RAD          9.549407
TAX        408.237154
PTRATIO     18.455534
B          356.674032
LSTAT       12.715432
MEDV        22.532806
dtype: float64

In [16]:
#ISI DENGAN RATA2
sparkdf = df.fillna(df.mean())

In [17]:
sparkdf = spark.createDataFrame(sparkdf)

import pandas as pd
import numpy as np

radioValue=""

if radioValue=='remove':
    dropna = """+ table_name + """.dropna(axis=1)
    missingval_"""+ table_name +""" = spark.createDataFrame(dropna)
    missingval_"""+ table_name +""".createOrReplaceTempView('missingval_"""+ table_name +"""')
    missingval_"""+ table_name +""".show()
        
elif radioValue=='average':
    fillna = """+ table_name +""".fillna("""+table_name +""".mean())
    missingval_"""+ table_name +""" = spark.createDataFrame(fillna)
    missingval_"""+ table_name +""".createOrReplaceTempView('missingval_"""+ table_name +"""')
    missingval_"""+ table_name +""".show()

else:
    missingval_"""+ table_name +""" = """+ table_name +"""
    missingval_"""+ table_name +""".createOrReplaceTempView('"""+ table_name +"""')
    missingval_"""+ table_name +""".show()

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/pygmy/Projects/Veni/Bisnis_Pintar/HousingData.csv')

In [4]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [8]:
missing = df.isnull().sum()

In [9]:
missing

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [21]:
dropna = df.dropna(axis=0)
missingval_tablename = spark.createDataFrame(dropna)

In [24]:
missingval_tablename.show()

+--------------------+----+-----+----+-------------------+------------------+-----+------+---+---+-------+------+-----+----+
|                CRIM|  ZN|INDUS|CHAS|                NOX|                RM|  AGE|   DIS|RAD|TAX|PTRATIO|     B|LSTAT|MEDV|
+--------------------+----+-----+----+-------------------+------------------+-----+------+---+---+-------+------+-----+----+
|             0.00632|18.0| 2.31| 0.0| 0.5379999999999999|             6.575| 65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|             0.02731| 0.0| 7.07| 0.0|              0.469|             6.421| 78.9|4.9671|  2|242|   17.8| 396.9| 9.14|21.6|
|             0.02729| 0.0| 7.07| 0.0|              0.469|             7.185| 61.1|4.9671|  2|242|   17.8|392.83| 4.03|34.7|
|0.032369999999999996| 0.0| 2.18| 0.0|0.45799999999999996| 6.997999999999999| 45.8|6.0622|  3|222|   18.7|394.63| 2.94|33.4|
|             0.02985| 0.0| 2.18| 0.0|0.45799999999999996|              6.43| 58.7|6.0622|  3|222|   18.7|394.12| 5.21|28.7|
|             0.14455|12.5| 7.87| 0.0|              0.524| 6.172000000000001| 96.1|5.9505|  5|311|   15.2| 396.9|19.15|27.1|
|             0.21124|12.5| 7.87| 0.0|              0.524|             5.631|100.0|6.0821|  5|311|   15.2|386.63|29.93|16.5|
|             0.22489|12.5| 7.87| 0.0|              0.524| 6.377000000000001| 94.3|6.3467|  5|311|   15.2|392.52|20.45|15.0|
|             0.11747|12.5| 7.87| 0.0|              0.524|6.0089999999999995| 82.9|6.2267|  5|311|   15.2| 396.9|13.27|18.9|
|             0.09378|12.5| 7.87| 0.0|              0.524| 5.888999999999999| 39.0|5.4509|  5|311|   15.2| 390.5|15.71|21.7|
|             0.62976| 0.0| 8.14| 0.0| 0.5379999999999999|             5.949| 61.8|4.7075|  4|307|   21.0| 396.9| 8.26|20.4|
|             0.62739| 0.0| 8.14| 0.0| 0.5379999999999999|             5.834| 56.5|4.4986|  4|307|   21.0|395.62| 8.47|19.9|
|             1.05393| 0.0| 8.14| 0.0| 0.5379999999999999|             5.935| 29.3|4.4986|  4|307|   21.0|386.85| 6.58|23.1|
|              0.7842| 0.0| 8.14| 0.0| 0.5379999999999999|              5.99| 81.7|4.2579|  4|307|   21.0|386.75|14.67|17.5|
|             0.80271| 0.0| 8.14| 0.0| 0.5379999999999999|             5.456| 36.6|3.7965|  4|307|   21.0|288.99|11.69|20.2|
|              0.7258| 0.0| 8.14| 0.0| 0.5379999999999999|             5.727| 69.5|3.7965|  4|307|   21.0|390.95|11.28|18.2|
|             1.25179| 0.0| 8.14| 0.0| 0.5379999999999999|              5.57| 98.1|3.7979|  4|307|   21.0|376.57|21.02|13.6|
|  0.8520399999999999| 0.0| 8.14| 0.0| 0.5379999999999999|             5.965| 89.2|4.0123|  4|307|   21.0|392.53|13.83|19.6|
|  1.2324700000000002| 0.0| 8.14| 0.0| 0.5379999999999999|             6.142| 91.7|3.9769|  4|307|   21.0| 396.9|18.72|15.2|
|  0.9884299999999999| 0.0| 8.14| 0.0| 0.5379999999999999|             5.813|100.0|4.0952|  4|307|   21.0|394.54|19.88|14.5|
+--------------------+----+-----+----+-------------------+------------------+-----+------+---+---+-------+------+-----+----+
only showing top 20 rows

In [14]:
missingval_tablename.show()

+-------------------+------------------+------+---+---+-------+------+----+
|                NOX|                RM|   DIS|RAD|TAX|PTRATIO|     B|MEDV|
+-------------------+------------------+------+---+---+-------+------+----+
| 0.5379999999999999|             6.575|  4.09|  1|296|   15.3| 396.9|24.0|
|              0.469|             6.421|4.9671|  2|242|   17.8| 396.9|21.6|
|              0.469|             7.185|4.9671|  2|242|   17.8|392.83|34.7|
|0.45799999999999996| 6.997999999999999|6.0622|  3|222|   18.7|394.63|33.4|
|0.45799999999999996|             7.147|6.0622|  3|222|   18.7| 396.9|36.2|
|0.45799999999999996|              6.43|6.0622|  3|222|   18.7|394.12|28.7|
|              0.524|6.0120000000000005|5.5605|  5|311|   15.2| 395.6|22.9|
|              0.524| 6.172000000000001|5.9505|  5|311|   15.2| 396.9|27.1|
|              0.524|             5.631|6.0821|  5|311|   15.2|386.63|16.5|
|              0.524|             6.004|6.5921|  5|311|   15.2|386.71|18.9|
|              0.524| 6.377000000000001|6.3467|  5|311|   15.2|392.52|15.0|
|              0.524|6.0089999999999995|6.2267|  5|311|   15.2| 396.9|18.9|
|              0.524| 5.888999999999999|5.4509|  5|311|   15.2| 390.5|21.7|
| 0.5379999999999999|             5.949|4.7075|  4|307|   21.0| 396.9|20.4|
| 0.5379999999999999|             6.096|4.4619|  4|307|   21.0|380.02|18.2|
| 0.5379999999999999|             5.834|4.4986|  4|307|   21.0|395.62|19.9|
| 0.5379999999999999|             5.935|4.4986|  4|307|   21.0|386.85|23.1|
| 0.5379999999999999|              5.99|4.2579|  4|307|   21.0|386.75|17.5|
| 0.5379999999999999|             5.456|3.7965|  4|307|   21.0|288.99|20.2|
| 0.5379999999999999|             5.727|3.7965|  4|307|   21.0|390.95|18.2|
+-------------------+------------------+------+---+---+-------+------+----+
only showing top 20 rows

In [15]:
fillna = df.fillna(df.mean())

In [16]:
m = spark.createDataFrame(fillna)

In [17]:
m.createOrReplaceTempView('m')

In [18]:
m.show()

+--------------------+----+-----+-------------------+-------------------+------------------+-----+------+---+---+-------+------+------------------+----+
|                CRIM|  ZN|INDUS|               CHAS|                NOX|                RM|  AGE|   DIS|RAD|TAX|PTRATIO|     B|             LSTAT|MEDV|
+--------------------+----+-----+-------------------+-------------------+------------------+-----+------+---+---+-------+------+------------------+----+
|             0.00632|18.0| 2.31|                0.0| 0.5379999999999999|             6.575| 65.2|  4.09|  1|296|   15.3| 396.9|              4.98|24.0|
|             0.02731| 0.0| 7.07|                0.0|              0.469|             6.421| 78.9|4.9671|  2|242|   17.8| 396.9|              9.14|21.6|
|             0.02729| 0.0| 7.07|                0.0|              0.469|             7.185| 61.1|4.9671|  2|242|   17.8|392.83|              4.03|34.7|
|0.032369999999999996| 0.0| 2.18|                0.0|0.45799999999999996| 6.997999999999999| 45.8|6.0622|  3|222|   18.7|394.63|              2.94|33.4|
|             0.06905| 0.0| 2.18|                0.0|0.45799999999999996|             7.147| 54.2|6.0622|  3|222|   18.7| 396.9|12.715432098765435|36.2|
|             0.02985| 0.0| 2.18|                0.0|0.45799999999999996|              6.43| 58.7|6.0622|  3|222|   18.7|394.12|              5.21|28.7|
|             0.08829|12.5| 7.87|0.06995884773662552|              0.524|6.0120000000000005| 66.6|5.5605|  5|311|   15.2| 395.6|             12.43|22.9|
|             0.14455|12.5| 7.87|                0.0|              0.524| 6.172000000000001| 96.1|5.9505|  5|311|   15.2| 396.9|             19.15|27.1|
|             0.21124|12.5| 7.87|                0.0|              0.524|             5.631|100.0|6.0821|  5|311|   15.2|386.63|             29.93|16.5|
|             0.17004|12.5| 7.87|0.06995884773662552|              0.524|             6.004| 85.9|6.5921|  5|311|   15.2|386.71|              17.1|18.9|
|             0.22489|12.5| 7.87|                0.0|              0.524| 6.377000000000001| 94.3|6.3467|  5|311|   15.2|392.52|             20.45|15.0|
|             0.11747|12.5| 7.87|                0.0|              0.524|6.0089999999999995| 82.9|6.2267|  5|311|   15.2| 396.9|             13.27|18.9|
|             0.09378|12.5| 7.87|                0.0|              0.524| 5.888999999999999| 39.0|5.4509|  5|311|   15.2| 390.5|             15.71|21.7|
|             0.62976| 0.0| 8.14|                0.0| 0.5379999999999999|             5.949| 61.8|4.7075|  4|307|   21.0| 396.9|              8.26|20.4|
|  0.6379600000000001| 0.0| 8.14|0.06995884773662552| 0.5379999999999999|             6.096| 84.5|4.4619|  4|307|   21.0|380.02|             10.26|18.2|
|             0.62739| 0.0| 8.14|                0.0| 0.5379999999999999|             5.834| 56.5|4.4986|  4|307|   21.0|395.62|              8.47|19.9|
|             1.05393| 0.0| 8.14|                0.0| 0.5379999999999999|             5.935| 29.3|4.4986|  4|307|   21.0|386.85|              6.58|23.1|
|              0.7842| 0.0| 8.14|                0.0| 0.5379999999999999|              5.99| 81.7|4.2579|  4|307|   21.0|386.75|             14.67|17.5|
|             0.80271| 0.0| 8.14|                0.0| 0.5379999999999999|             5.456| 36.6|3.7965|  4|307|   21.0|288.99|             11.69|20.2|
|              0.7258| 0.0| 8.14|                0.0| 0.5379999999999999|             5.727| 69.5|3.7965|  4|307|   21.0|390.95|             11.28|18.2|
+--------------------+----+-----+-------------------+-------------------+------------------+-----+------+---+---+-------+------+------------------+----+
only showing top 20 rows